<xml>
<ToUserName><![CDATA[${MusicXML.getToUserName()}]]></ToUserName>
<FromUserName><![CDATA[${MusicXML.getFromUserName()}]]></FromUserName>
<CreateTime>${MusicXML.getCreateTime()}</CreateTime>
<MsgType><![CDATA[${MusicXML.getMusicType()}]]></MsgType>
#set($music = ${MusicXML.getMusic()})
<Music>
<Title><![CDATA[${music.getTitle()}]]></Title>
<Description><![CDATA[${music.getDescription()}]]></Description>
<MusicUrl><![CDATA[${music.getMusicUrl()}]]></MusicUrl>
<HQMusicUrl><![CDATA[${music.getHQMusicUrl()}]]></HQMusicUrl>
<ThumbMediaId><![CDATA[${music.getThumbMediaId()}]]></ThumbMediaId>
</Music>
</xml>