<xml>
<ToUserName><![CDATA[${PicTxtXML.getToUserName()}]]></ToUserName>
<FromUserName><![CDATA[${PicTxtXML.getFromUserName()}]]></FromUserName>
<CreateTime>${PicTxtXML.getCreateTime()}</CreateTime>
<MsgType><![CDATA[${PicTxtXML.getMsgType()}]]></MsgType>
<ArticleCount>${PicTxtXML.getArticleCount()}</ArticleCount>
#set($articles = ${PicTxtXML.getArticles()})
<Articles>
#set($items = $articles.getItems())
#foreach($item in $items)
<item>
<Title><![CDATA[${item.getTitle()}]]></Title> 
<Description><![CDATA[${item.getDescription()}]]></Description>
<PicUrl><![CDATA[${item.getPicUrl()}]]></PicUrl>
<Url><![CDATA[${item.getUrl()}]]></Url>
</item>
#end
</Articles>
</xml> 