<xml>
<ToUserName><![CDATA[${VoiceXML.getToUserName()}]]></ToUserName>
<FromUserName><![CDATA[${VoiceXML.getFromUserName()}]]></FromUserName>
<CreateTime>${VoiceXML.getCreateTime()}</CreateTime>
<MsgType><![CDATA[${VoiceXML.getMsgType()}]]></MsgType>
#set($voice = ${VoiceXML.getVoice()})
<Voice>
<MediaId><![CDATA[${voice.getMediaId}]]></MediaId>
</Voice>
</xml>