*{font-family:微软雅黑, Verdana, sans-serif, 宋体;font-size:12pt;padding:0;margin:0;}
.clear{clear:both;}

#head{width:100%;height:60px;background-color:#F4F4F4;color:#3D3D3D;}
#head h1{font-size:20pt;line-height:60px;padding-left:10px;}
#head .toolbar{float:right;line-height:60px;padding-right:10px;}

#main #left{float:left;}
#main #right{float:left;margin:20px 0 0 30px;}

#foot{position:fixed;bottom:0px;width:100%;}
#foot #copyright{width:100%;height:30px;line-height:30px;background-color:#F4F4F4;text-align:center;}

/*分页*/
.page{
	float:right;
}
.page ul li{
	list-style:none;
	float:left;
}
#left .page ul li{
	border:0px;
}
.page ul li a{
	diplay:block;
	margin-right:10px;
	padding:3px 5px;
	background-color:#a4a4a4;
	color:#fff;
	text-decoration:none;
}
.page ul li.current a{
	background-color:#666;
}