*{font-family:微软雅黑, Verdana, sans-serif, 宋体;font-size:12pt;padding:0;margin:0;color:#666;}
.clear{clear:both;}

#head,#main,#foot{width:998px;margin:0 auto;}
/* 头部 */
#head #logo{height:60px;}
#head #logo h1{font-size:20pt;line-height:60px;}
#head #nav{background-color:#999;padding:5px 0;}
#head ul li{float:left;list-style:none;}
#head ul li a{text-decoration:none;border-right:1px solid #ccc;color:#fff;padding:5px;}
#head ul li.current a{background-color:#333;}
#head ul li a:hover{background-color:#333;}

#main{padding:20px 10px;}

#left{width:78%;float:left;padding-right:2%;}
#left ul li{list-style:none;border-bottom:1px solid #000;margin-top:10px;}
#left .blog_head{border-bottom:1px solid #ccc;padding:5px 0;}
#left .blog_title{font-size:18px;font-weight:bold;padding:5px 0;}
#left .blog_toolbar span{font-size:14px;margin-right:10px;}

#left ul li .time{float:right;}

#right{width:20%;float:right;}

/* 底部 */
#foot #friendlink{border:1px solid #ccc;padding:10px;}
#foot #friendlink .title{font-size:12px;line-height:20px;}
#foot #friendlink ul li{float:left;list-style:none;margin-left:10px;}
#foot #friendlink ul li a{font-size:14px;}
#foot #copyright{text-align:center;padding:20px 0;}

