<xml>
<ToUserName><![CDATA[${VideoXML.getToUserName()}]]></ToUserName>
<FromUserName><![CDATA[${VideoXML.getFromUserName()}]]></FromUserName>
<CreateTime>${VideoXML.getCreateTime()}</CreateTime>
<MsgType><![CDATA[${VideoXML.getMsgType()}]]></MsgType>
#set($video = ${VideoXML.getVideo()})
<Video>
<MediaId><![CDATA[${video.getMediaId()}]]></MediaId>
<Title><![CDATA[${video.getTitle()}]]></Title>
<Description><![CDATA[${video.getDescription()}]]></Description>
</Video>
</xml>